@use "src/Styles/_vars.scss" as var;

.cyclists {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;

    &__title {
      color: var.$black;
      font-size: 1.5rem;
      margin: 2rem 0;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
}
