@use "src/Styles/_vars.scss" as var;

.users {
  padding: 1rem;
  width: 50rem;
  margin: auto;
}

.user {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
  &__email,
  &__name,
  &__checkbox {
    width: 33%;
  }
}
