@use "src/Styles/_vars.scss" as var;

.informResult {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  &__DragableAndselection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100vh; /* occupe tout l'écran */
    overflow: hidden;

    &__selections {
      flex: 2;
      overflow-y: auto;
    }

    &__dragable {
      flex: 1;
      overflow-y: auto;
      &--items {
        border: 0.1rem solid var.$grey;
        padding: 0.5rem 1rem;
        border-radius: 1rem 2rem;
        margin: 0 0 0.5rem;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        background-color: var.$black;
        color: var.$yellow;
        &:hover {
          background-color: var.$yellow;
          color: var.$black;
          cursor: grab;
        }
      }
    }

    &__selection {
      border: 0.1rem solid var.$grey;
      padding: 1rem 2rem;
      min-width: 20rem;
      border-radius: 1rem 2rem;
      margin: 0.5rem 0;
      &--strong {
        font-weight: bold;
      }

      &__cyclist {
        border: 0.1rem solid var.$grey;
        padding: 0.5rem 1rem;
        border-radius: 1rem 2rem;
        margin: 0 0 0.5rem;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        background-color: var.$black;
        color: var.$yellow;

        &:hover {
          background-color: var.$yellow;
          color: var.$black;
          cursor: grab;
        }

        & svg {
          margin-left: 0.5rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__validatePronoBtn {
    margin: 1rem auto !important;
  }

  &__errorMessage {
    align-self: center;
  }
}
