@use "src/Styles/_vars.scss" as var;

.informResult {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  &__DragableAndselection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    &__dragable {
      width: 30%;
      height: 35rem;
      overflow-y: scroll;
      padding: 1rem;
      &--items {
        border: 0.1rem solid var.$grey;
        padding: 0.5rem 1rem;
        border-radius: 1rem 2rem;
        margin: 0 0 0.5rem;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        background-color: var.$black;
        color: var.$yellow;
        &:hover {
          background-color: var.$yellow;
          color: var.$black;
          cursor: grab;
        }
      }
    }

    &__selection {
      border: 0.1rem solid var.$grey;
      padding: 1rem 2rem;
      min-width: 20rem;
      border-radius: 1rem 2rem;
      margin: 0.5rem 0;
      &--strong {
        font-weight: bold;
      }

      &__cyclist {
        border: 0.1rem solid var.$grey;
        padding: 0.5rem 1rem;
        border-radius: 1rem 2rem;
        margin: 0 0 0.5rem;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        background-color: var.$black;
        color: var.$yellow;

        & svg {
          margin-left: 0.5rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__validatePronoBtn {
    margin: 1rem auto !important;
  }

  &__errorMessage {
    align-self: center;
  }
}
