@use "src/Styles/_vars.scss" as var;

.homeDisconnected {
  display: flex;
  &__picture {
    min-height: 100vh;
    background-image: url("../../../assets/pictures/road.webp");
    background-position: left;
    width: 50%;
    height: 100%;
    filter: grayscale(100%);

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &__intro {
    background-color: var.$black;
    width: 50%;
    text-align: center;

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 100vh;
    }

    & > button {
      @media screen and (max-width: 500px) {
        margin-bottom: 2rem;
      }
    }

    &__forms {
      min-height: 30rem;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .modal {
    width: 80%;
    top: 10%;
    left: 10%;
  }
}

.modalIntro {
  margin: auto;

  & p {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    color: var.$yellow;
  }
}
