@use "src/Styles/_vars.scss" as var;

.homeDisconnected {
  display: flex;
  &__picture {
    min-height: 100vh;
    background-image: url("../../../assets/pictures/road.webp");
    background-position: left;
    width: 50%;
    height: 100%;
    filter: grayscale(100%);
  }

  &__intro {
    background-color: var.$black;
    width: 50%;
    text-align: center;

    &__forms {
      min-height: 30rem;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }
}

.modalIntro {
  margin: auto;

  & p {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    color: var.$yellow;
  }
}
