$black: #1e3d59;
// $black: #322e2f;
$blue: #039fbe;
$grey: #f5f0e1;
$pink: #cf1578;
$yellow: #ffc13b;
$red: #ff6e40;
$white: #fff;
$green: #13e189;
$gold: #ffd700;
$silver: #c0c0c0;
$bronze: #cd7f32;

@font-face {
  font-family: "font-regular";
  src: url(../assets/font/BarlowCondensed-Regular.ttf);
}
$font-regular: "font-regular";
@font-face {
  font-family: "font-bold";
  src: url(../assets/font/BarlowCondensed-Bold.ttf);
}

$font-bold: "font-bold";
@font-face {
  font-family: "font-italic";
  src: url(../assets/font/BarlowCondensed-Italic.ttf);
}
$font-italic: "font-italic";
