@use "src/Styles/_vars.scss" as var;

button.homeDisconnected__intro__button,
button.navBar__logoutBtn,
button.pronos__setPronoBtn {
  background-color: var.$black;
  border: 1px solid var.$yellow;
  border-radius: 1rem 2rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var.$yellow;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  font-family: var.$font-bold !important;

  &:hover {
    color: var.$black;
    background-color: var.$yellow;
    border: 1px solid var.$yellow;
    cursor: pointer;
  }
}

//? Dropdown
.p-dropdown:not(.p-disabled).p-focus {
  border-color: var.$yellow !important;
  box-shadow: 0 0 0 0.2rem var.$yellow;
}
