@use "src/Styles/_vars.scss" as var;

.profil {
  padding: 1rem;
  &__username {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  &__statistiques {
    &__points {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      strong {
        font-weight: bold;
        font-size: 1.15rem;
      }
    }
  }
}
