@use "src/Styles/_vars.scss" as var;

.profil {
  padding: 1rem;
  &__username {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}

.p-float-label {
  margin-bottom: 2rem;
}
