@use "src/Styles/_vars.scss" as var;

.statistiques {
  &__title {
    margin: 1rem 1rem 3rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__dropdown {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .userCardStatsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}
