@use "src/Styles/_vars.scss" as var;

.resultat {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &__username {
    min-width: 4rem;
    font-size: 1rem;
    font-weight: bold;
  }
  &__table {
    font-size: 0.95rem;
    position: relative;
    &__thead {
      &__th {
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: 1px solid var.$black;
        min-width: 3rem;
      }
      &__th:nth-child(odd) {
        background-color: var.$grey;
      }

      &__username {
        font-weight: bold;
        background-color: rgba($color: var.$blue, $alpha: 0.6);
        letter-spacing: 0.1rem;
      }
    }

    &__tbody {
      &__td {
        border: 1px solid var.$black;
        padding: 0.5rem 1rem;

        &:hover {
          cursor: pointer;
        }
      }
      &__td:nth-child(odd):not(:last-child) {
        background-color: var.$grey;
      }
    }

    &__tbody__tr,
    &__thead__tr {
      border: 1px solid var.$black;
    }

    &__total {
      background-color: rgba($color: var.$yellow, $alpha: 0.8);
      min-width: 6.5rem;
      strong {
        font-weight: bold;
        font-size: 1.1rem;
        margin-left: 0.2rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var.$grey;
  width: fit-content;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border: 1px solid var.$yellow;
  z-index: 100;
  top: 5px;
  right: 20%;

  color: var.$black;

  .cross {
    position: absolute;
    font-size: 1.3rem;
    top: 5px;
    right: 5px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid var.$black;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}
