@use "src/Styles/_vars.scss" as var;

.resultats {
  display: flex;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  &__fixture {
    width: 40%;

    p {
      margin: 1rem 1rem 3rem 2rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  &__scores {
    width: 60%;

    @media screen and (max-width: 500px) {
      width: 90%;
      margin: auto;
    }
  }
  img.map {
    width: 90%;
    height: auto;
    margin: 2rem auto;
  }
}
