@use "src/Styles/_vars.scss" as var;

.navBar,
.navBarAdmin {
  background-color: var.$black;
  padding: 1rem;
  // text-align: center;
  &__link {
    color: var.$yellow;
    font-size: 1.3rem;
    margin: 0 1rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navBar,
.navBarAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__userName {
    display: inline-block;
    color: var.$yellow;
    font-size: 1.5rem;

    &--strong {
      font-weight: bold;
    }
  }

  &__logoutBtn {
    display: flex;
    align-items: center;

    &__icon {
      margin-left: 0.5rem;
      font-size: 1.4rem;
    }
  }
}
