@use "src/Styles/_vars.scss" as var;

.navBar,
.navBarAdmin {
  background-color: var.$black;
  &__link {
    color: var.$yellow;
    font-size: 1.3rem;
    margin: 0 1rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navBar,
.navBarAdmin {
  & nav {
    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    & a {
      @media screen and (max-width: 500px) {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__userName {
    display: inline-block;
    color: var.$yellow;
    font-size: 1.5rem;
    margin-right: 3rem;

    @media screen and (max-width: 500px) {
      display: none;
    }

    &--strong {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  &__logoutBtn {
    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      font-size: 0.8rem !important;
      margin: 0 0 0 1rem !important;
    }

    &__icon {
      margin-left: 0.5rem;
      font-size: 1.4rem;

      @media screen and (max-width: 500px) {
        font-size: 0.8rem !important;
      }
    }
  }
}

//primereact

.p-menubar {
  background-color: var.$black !important;
  border: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  .p-menuitem-text {
    color: var.$yellow !important;
  }
  .p-menuitem-icon,
  svg {
    color: var.$yellow !important;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover {
  background: unset !important;
  .p-menuitem-text,
  .p-menuitem-icon {
    transition: all 0.3s ease-in-out;
    color: var.$grey !important;
  }
}

@media screen and (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    width: 100vw;
    background-color: var.$black !important;
  }
  .p-menubar .p-menubar-button {
    color: var.$yellow !important;
  }
  .p-menubar {
    justify-content: flex-end;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    justify-content: flex-end;
  }
}
